<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="30304">
        <!-- <setting id="rom_dirs"
                 type="folder"
                 label="30303"
                 default=""
                 visible="true"
                 /> -->
        <setting id="browse_layout"
                 type="enum"
                 label="30330"
                 lvalues="30331|30332|30333|30334|30335"
                 default="0"
                 visible="true"
                 />
        <setting id="skip_media_folders"
                 type="bool"
                 label="30306"
                 default="true"
                 visible="true"
                 />
    </category>
</settings>